:root {
  --colour-primary: #e61313;
  --colour-secondary: #002a2a;
  --colour-tertiary: #9acd32;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: var(--colour-secondary);
  color: #fff;
}

main a {
  color: #fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 140px;
}

.App-header {
  background-color: var(--colour-primary);
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.App-link {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-top: 0;
}
h2 {
  margin-bottom: 0;
}
